---
title: Educational Sensational Inspirational Foundational
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ metadata.subtitle }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<title>{{ title }}</title>

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="/style.css">
		<style>
		{{ googlefonts }}
		</style>

		<link rel="alternate" href="/feed.xml" title="{{ title }} Feed" type="application/rss+xml">

		<meta property="og:title" content="{{ title }}">
		<meta property="og:type" content="website">
		<meta property="og:description" content="{{ metadata.subtitle }}">
		<meta property="og:image" content="https://v1.screenshot.11ty.dev/{{ metadata.url | url_encode }}/opengraph/">
		<meta property="og:image:alt" content="A screenshot of the web site at {{ metadata.url }}" />
		<meta property="og:url" content="{{ metadata.url }}">

		<link rel="icon" href="/logo.png" sizes="500x500">
		<link rel="shortcut icon" sizes="500x500" href="/logo.png">
		<link rel="apple-touch-icon" href="/logo.png" sizes="500x500">

		<script type="module" src="/public/is-land.js"></script>
		<script type="module" src="/public/filter-container.js"></script>
		<script type="module" src="/public/browser-window.js"></script>
	</head>
	<body>
		{{ content }}
	</body>
</html>